.Form_Div {
  width: 40%;
  max-width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.Label_Class {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Login_Button {
  background-color: rgb(194, 198, 200);
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  width: 100%;
  max-width: 300px;
  height: 30px;
  margin: 5px 0;
}

.FormStyle {
  text-align: center;
}

button {
  background-color: rgb(194, 198, 200);
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
